.brands
  display: flex
  justify-content: space-between
  align-items: center
  margin: 90px auto 0
  max-width: 1157px
  padding: 0 16px

  &__headline
    margin: 35px 0 0 60px

  &__list
    width: 100%
    max-width: 576px


@media (max-width: 940px)
  .brands
    margin: 75px auto 0
    padding: 0
    flex-direction: column

    &__headline
      margin: 0 0 20px