.products
  margin: 110px 0 0
  display: flex
  justify-content: space-between

  &__headline
    margin: 100px 0 0 60px

  &__list
    width: 100%
    max-width: 576px


//.brands
//  display: flex
//  justify-content: space-between
//  align-items: center
//  margin: 110px 0 0

