.app-bar-navigation
  display: flex
  width: 432px

  &__elem
    button
      margin-right: 4px
    button:last-child
      margin: 0

  &__phone
    color: var(--gray)
    text-decoration: none
    align-items: center
    display: flex
    margin: 0 39px 0 30px
    font-family: 'Nunito', sans-serif
    font-weight: 400
    font-size: 14px
    line-height: 19px


svg.app-bar-navigation__svg
  fill: none


@media (max-width: 940px)
  .app-bar-navigation
    display: none