.brand
    height: 115px
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0 0 15px rgba(77, 77, 77, 0.15)
    border-radius: 8px
    padding: 10px
    overflow: hidden

    &__image
        width: 70% //для красивого отображения е***** пластины

